/* Переменные */

:root {
  --basic-grey: #EEEEEE;
  --light-grey: #E1E1E1;
  --dark-grey: #DFDFDF;
  --darkest-grey: #D5D5D5;
  --lightest-grey: #A6A6A6;
  --some-grey: #D7DCDE;
  --another-grey: #B4B9BB;
  --one-more-grey: #666666;
  --basic-pink: #FB565A;
  --basic-white: #ffffff;
  --half-white: rgba(255, 255, 255, 0.3);
  --half-black: rgba(0, 0, 0, 0.3);
  --opac-black: rgba(0, 0, 0, 0.6);
  --basic-green: #00CA74;
  --basic-yellow: #EFC84A;
  --basic-black: #000000;
  --basic-dark: #A6A6A6;
  --light-black: #444444;
  --darkest-black: #4D4D4D;
  --some-black: #231F20;
  --another-black: #283136;
  --light-pink: #E74246;
  --dark-pink: #D7373B;
  --light-green: #00BC6C;
  --dark-green: #00AA62;
  --light-yellow: #EAB534;
  --dark-yellow: #E5A722;
}

/*стиль документf*/

.page {
    height: 100%;
}

/*стиль тела по-умолчанию*/

.page-body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: var(--basic-black);
    background-color: var(--basic-white);
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

/*стиль невидимости семантических заголовков*/

.invis{
    display: none;
}


/*-----------СТИЛЬ ГЛАВНОй СТРАНИЦЫ-----------*/

/*стили шапки*/
.container {
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.main-header {
    background-color: var(--basic-grey);
    outline: 5px solid rgba(0, 255, 0, 0.7);
    outline-offset: -5px;
    
  }
.main-header-logo {
    outline: 5px solid rgba(255, 0, 0, 0.3);
    outline-offset: -5px; 
    justify-self: start;

}

/*Стиль навигационного блока*/

.main-nav {
    line-height: 30px;
    text-transform: uppercase;
    font-style: normal;
    display: grid;
    grid-template-columns: auto auto;
}
.site-nav {
    outline: 5px solid rgba(0, 255, 255, 0.3);
    outline-offset: -5px;
    list-style: none;
    display: inline-flex;
}
.nav-item{
    padding: 40px;
}
.nav-item a {
    color: var(--basic-black);
    text-decoration: none;
}
.main-nav a {
    color: var(--basic-black);
    text-decoration: none;
}
.nav-item a:hover {
    color: var(--light-pink);
}
.nav-item a:active {
    color: var(--basic-black);
    opacity: 0.3;
}
.cart-link:hover {
    color: var(--light-pink);
}
.cart-link:active {
    color: var(--basic-black);
    opacity: 0.3;
}
.cart-nav {
    outline: 5px solid rgba(255, 0, 255, 0.3);
    outline-offset: -5px;
    display: inline-flex;
  } 


/* Главный блок */

.main-container {
    outline: 5px solid rgba(90, 45, 173, 0.7);
    outline-offset: -5px;  
}

/*Стиль блока слайдеров*/

.sliders {
    background-color: var(--basic-grey);
    outline: 5px solid rgba(221, 210, 48, 0.7);
    outline-offset: -5px;
}
.slider-list {
    list-style: none;
    display: grid;
    grid-template-rows: min-content min-content min-content;
    column-gap: 5px;
    margin: 0px;
}
.slider-item {
    outline: 5px solid rgba(46, 182, 170, 0.7);
    outline-offset: -5px;
}
.slider-bold-big-text {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}
.slider-bold-small-text {
    font-weight: 400;
    color: var(--another-black);
}

/*Стиль блока предложений*/

.offers {
    outline: 5px solid rgba(24, 49, 187, 0.7);
    outline-offset: -5px;
}

.offers-list {
    list-style: none;
    display: grid;
    grid-template-columns: min-content min-content min-content;
    column-gap: 5px;
    
}
.offers-item {
    outline: 5px solid rgba(3, 2, 5, 0.7);
    outline-offset: -5px;
    justify-self: center;
}
.offers-item h3 {
   font-size: 24px;
   font-weight: 700;
   text-transform: uppercase;
   line-height: 30px; 
}
.offers-item p {
    font-weight: 400;
}

/*Стиль блока инф. о компании и чем она занимается*/

.about-stat-logo {
    outline: 5px solid rgba(5, 5, 5, 0.7);
    outline-offset: -5px;
    display: grid; 
    grid-template-columns: max-content max-content;
}
.about {
    outline: 5px solid rgba(240, 8, 143, 0.7);
    outline-offset: -5px;
}
.about-big-bold-text {
    font-size: 45px;
    line-height: 45px;
}
.about p {
    color: var(--another-black);
    font-weight: 400;
}
.about h3 {
    color: var(--another-black); 
    font-weight: 700; 
    text-transform: uppercase;
}
.about-list {
    color: var(--another-black); 
    font-weight: 400;
}

/*Стиль секции со статистикой*/

.stat-logo {
    outline: 5px solid rgba(133, 6, 6, 0.7);
    outline-offset: -5px;
}
.stat-table caption {
    font-weight: 700;
    text-transform: uppercase;
}
.stat-data {
    font-size: 45px;
    line-height: 64px;
    font-weight: 700;
}
.stat-data sup {
  font-size: 26px;
  line-height: 40px;  
}
.stat-info {
    line-height: 18px;
    color: var(--another-black);
    font-weight: 400;
}

/*Стиль секции с лого партнеров*/

.partners {
    outline: 5px solid rgba(168, 94, 94, 0.7);
    outline-offset: -5px;
    display: grid;

}

.partner-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.partner-item {
    outline: 5px solid rgb(19, 250, 69);
    outline-offset: -5px;
}

/*Стиль секции с контактами*/

.contacts {
    outline: 5px solid rgb(201, 198, 33);
    outline-offset: -5px;
    display: grid;
    grid-template-rows: max-content max-content;
}
.contact-block {
    outline: 5px solid rgb(37, 26, 201);
    outline-offset: -5px;
}
.contact-map {
    outline: 5px solid rgb(255, 0, 157);
    outline-offset: -5px;
    max-width: 1160px;
    justify-self: center;
}
.contacts h2 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;  
}
.contacts p {
    color: var(--one-more-grey);
    line-height: 18px;
    font-weight: 400;
}
.contacts a {
    color: var(--one-more-grey);
    text-decoration: none;
}


/*Стиль подвала*/
/*Стиль  блока со скидкой*/

.footer-info h2 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}
.footer-info p {
    line-height: 22px;
    font-weight: 400;
    color: var(--light-black);
}
.main-footer {
    outline: 5px solid rgba(255, 0, 0, 0.7);
    outline-offset: -5px;
    display: grid;
    grid-template-columns: max-content max-content;
}
.footer-info {
    outline: 5px solid rgba(162, 241, 15, 0.842);
    outline-offset: -5px;  
}
.footer-social {
    outline: 5px solid rgba(57, 22, 211, 0.842);
    outline-offset: -5px;
}

/* ------------СТИЛИ КНОПОК----------*/
/*общий стиль кнопок*/

.button {
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
    color: var(--basic-white);
    padding: 10px;
    text-align: center;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

/*стиль кнопок слайдера*/

.button-slider {
    min-width: 240px;
    background-color: var(--basic-pink);
    border: none;
}
.button-slider:hover {
    background-color: var(--light-pink);
    outline: none;
}
.button-slider:active{
    background-color: var(--dark-pink);
    outline: none;
    color: var(--half-white);
}   


/*стиль розовой кнопки "заказать"*/

.button-offer-pink {
    width: 160px;
    background-color: var(--basic-pink);
    border: none;
}
.button-offer-pink:hover {
    background-color: var(--light-pink);
    outline: none;
}
.button-offer-pink:active {
    background-color: var(--dark-pink);
    outline: none;
    color: var(--half-white);
}

/*стиль зелёной кнопки "заказать"*/

.button-offer-green{
    width: 160px;
    background-color: var(--basic-green);
    border: none;
}
.button-offer-green:hover {
    background-color: var(--light-green);
    outline: none;
}
.button-offer-green:active {
    background-color: var(--dark-green);
    outline: none;
    color: var(--half-white);
}

/*стиль жёлтой кнопки "заказать"*/

.button-offer-yellow{
    width: 160px;
    background-color: var(--basic-yellow);
    border: none;
}
.button-offer-yellow:hover {
    background-color: var(--light-yellow);
    outline: none;
    cursor: pointer;
}
.button-offer-yellow:active {
    background-color: var(--dark-yellow);
    outline: none;
    color: var(--half-white);
}

/*стиль розовой кнопки "Напишите нам"*/

.button-text-us {
    width: 219px;
    background-color: var(--basic-pink);
    border: none;
}
.button-text-us:hover {
    background-color: var(--light-pink);
    outline: none;
    }
.button-text-us:active {
    background-color: var(--dark-pink);
    outline: none;
    color: var(--half-white);
}

/*стиль ссылок на соц.сети*/

.social-button-list {
    list-style: none;
    display: inline-flex;
}
.social-button-item {
    border: var(--light-grey);
    background-color: var(--light-grey);
    padding: 10px;
    margin: 10px;
    text-align: center;
}   
.social-button-item:hover {
    background-color: var(--light-pink);
}
.social-button-item:active {
    background-color: var(--dark-pink);
}

/*стиль серой кнопки для фильтра*/

.filter-button {
    width: 260px;
    background-color: var(--basic-grey);
    border: none;
    color: var(--basic-black);
}
.filter-button:hover {
    background-color: var(--dark-grey);
}
.filter-button:active {
    background-color: #D5D5D5;
    color: var(--half-black);
}

/*стиль для кнопки с ценой*/

.button-cost {
    width: 200px;
    background-color: var(--basic-pink);
    border: none;
}
.button-cost:hover {
    background-color: var(--light-pink);
}
.button-cost:active {
    background-color: var(--dark-pink);
}

/*стиль кнопок переключения страниц шаблонов*/

.button-int {
    width: 50px;
    background-color: var(--basic-grey);
    color: var(--basic-black);
    border: none;
}
.button-int:hover {
    background-color: var(--dark-grey);
}
.button-int:active {
    background-color: var(--darkest-grey);
    color: var(--half-black);
}
.button-next {
    width: 260px;
    background-color: var(--basic-grey);
    color: var(--basic-black);
    border: none;
}
.button-next:hover {
    background-color: var(--dark-grey);
}
.button-next:active {
    background-color: var(--darkest-grey);
    color: var(--half-black);
}


/* ---------СТИЛЬ СТРАНИЦЫ КАТАЛОГА------------*/

/*Стиль заголовка страницы*/ 

.title-shop {
    background-color: var(--basic-grey);
    padding: 1%;

}
.container h1 {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

/*Стиили фильтра и сортировки*/ 

.filter-sort-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.filter-features ul, .filter-grid ul{
    list-style: none;
}
.filter-text {
    line-height: 19px;
    font-weight: 400;
    color: var(--another-black);
}
.cost-text {
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color:var(--another-black);
}
.sorting a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: var(--half-black);
    text-transform: uppercase;
}
.sorting a:hover {
    color: var(--opac-black);
}
.sorting a:active {
    color: var(--basic-black);
}

/* Стили для списка шаблонов*/

.templates-list {
    list-style: none;
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content min-content min-content;
    gap: 10px;
}
.template-switch {
    list-style: none;
    display: flex;
}
.template-switch li {
    padding: 10px;
}
.template-name-text {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}
.template-about-text {
    line-height: 18px;
    color: var(--one-more-grey);
    font-weight: 400;
}
.template-decoration {
    background-color: var(--basic-grey);
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content min-content;
}
.main-filter {
    grid-column: 1 / 2 ;
    grid-row: 1 / 3  ;
}