/* Переменные */

:root {
  --basic-grey: #EEEEEE;
  --light-grey: #E1E1E1;
  --dark-grey: #DFDFDF;
  --darkest-grey: #D5D5D5;
  --lightest-grey: #A6A6A6;
  --some-grey: #D7DCDE;
  --another-grey: #B4B9BB;
  --one-more-grey: #666666;
  --basic-pink: #fb5659;
  --basic-white: #ffffff;
  --half-white: rgba(255, 255, 255, 0.3);
  --half-black: rgba(0, 0, 0, 0.3);
  --opac-black: rgba(0, 0, 0, 0.6);
  --basic-green: #00CA74;
  --basic-yellow: #EFC84A;
  --basic-black: #000000;
  --basic-dark: #A6A6A6;
  --light-black: #444444;
  --darkest-black: #4D4D4D;
  --some-black: #231F20;
  --another-black: #283136;
  --light-pink: #E74246;
  --dark-pink: #D7373B;
  --light-green: #00BC6C;
  --dark-green: #00AA62;
  --light-yellow: #EAB534;
  --dark-yellow: #E5A722;
}

/*стиль документf*/

.page {
    height: 100%;
}

/*стиль тела по-умолчанию*/

.page-body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: var(--basic-black);
    background-color: var(--basic-white);
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    
}

/*стиль невидимости семантических заголовков*/

.invis{
    display: none;
}


/*-----------СТИЛЬ ГЛАВНОй СТРАНИЦЫ-----------*/

/*стили шапки*/
.container {
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.main-header {
    outline: 5px solid rgba(0, 255, 0, 0);
    outline-offset: -5px;
    
  }
/*Стиль навигационного блока*/

.main-nav {
    background-color: var(--basic-grey);
    line-height: 30px;
    max-width: 100%;
    text-transform: uppercase;
    font-style: normal;
    display: flex;
    align-items: center;
    padding-left: 140px;
    padding-right: 140px;
    justify-content: space-between;

 
}
.main-header-logo {
    outline: 5px solid rgba(255, 0, 0, );
    outline-offset: -5px; 

}
.main-header-logo:hover {
    opacity: 0.7;
}
.main-header-logo:active {
    opacity: 0.3;
}
.site-nav {
    outline: 5px solid rgba(0, 255, 255, );
    outline-offset: -5px;
    list-style: none;
    display: flex;
    margin-right: 224px;
    margin-left: 140px;

}
.main-navigation-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;

}
.nav-item{
    padding: 22px;
}
.nav-item a {
    color: var(--basic-black);
    text-decoration: none;
}
.main-nav a {
    color: var(--basic-black);
    text-decoration: none;
}
.nav-item a:hover {
    color: var(--light-pink);
}
.nav-item a:active {
    color: var(--basic-black);
    opacity: 0.3;
}
.cart-link:hover {
    color: var(--light-pink);
}
.cart-link:active {
    color: var(--basic-black);
    opacity: 0.3;
}
.cart-nav {
    outline: 5px solid rgba(255, 0, 255, 0.);
    outline-offset: -5px;
    padding-left: 25px;
    padding-right: 0px;
    padding-top: 22px;
    padding-bottom: 22px;
  } 
.cart-nav::before {
    content: "";
    position: absolute;
    top: 44px;
    left: 865px;
    width: 15px;
    height: 15px;
    background-image: url("/img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

}


/* Главный блок */

.main-container {
    outline: 5px solid rgba(90, 45, 173, 0);
    outline-offset: -5px;  
}

/*Стиль блока слайдеров*/

.sliders {
    background-color: var(--basic-grey);
    outline: 5px solid rgba(22, 22, 22, 0.);
    outline-offset: -5px;
    position: relative;
    margin-bottom: 80px;
}
.slider-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    column-gap: 5px;
    margin: 0px;
}
.slider-item {
    outline: 5px solid rgba(46, 182, 170, 0.);
    outline-offset: -5px;
    display: grid;
    grid-template-columns: max-content min-content;
    margin-left: 100px;
    margin-right: 140px;
    min-width: 1157px;
}
.slider-bold-big-text {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}
.slider-bold-small-text {
    font-weight: 400;
    color: var(--another-black);
}
.slide {
    display: none;
}
.slide-current {
    display: grid;
}
.slider-controls {
    position: absolute;
    top: 335px;
    left: 681px;
    width: 88px;
    display: flex;
    justify-content: space-between;

}
.slider-controls button {
    padding: 0;
    width: 18px;
    height: 18px;
    background-color: var(--dark-grey);
    border: 5px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}
.slider-controls .current {
    background-color: var(--basic-pink);
  }

/*Стиль блока предложений*/

.offers {
    outline: 5px solid rgba(24, 49, 187, );
    outline-offset: -5px;
    padding-bottom: 80px;
    border-bottom: solid 2px var(--basic-grey);
    margin-left: 140px;
    margin-right: 140px;
}

.offers-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 60px;
}
.offers-item {
    outline: 5px solid rgba(3, 2, 5, );
    outline-offset: -5px;
    justify-self: center;
}
.offers-item h3 {
   font-size: 24px;
   font-weight: 700;
   text-transform: uppercase;
   line-height: 30px; 
}
.offers-item p {
    font-weight: 400;
}

/*Стиль блока инф. о компании и чем она занимается*/

.about-stat-logo {
    outline: 5px solid rgba(5, 5, 5, );
    outline-offset: -5px;
    display: flex; 
    justify-content: space-between;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 39px;
    padding-bottom: 73px;
    border-bottom: solid 2px var(--basic-grey);
}
.about {
    outline: 5px solid rgba(240, 8, 143,);
    outline-offset: -5px;
    min-width: 651px;

}
.about-big-bold-text {
    font-size: 45px;
    line-height: 45px;
}
.about p {
    color: var(--another-black);
    font-weight: 400;
}
.about h3 {
    color: var(--another-black); 
    font-weight: 700; 
    text-transform: uppercase;
}
.about-list {
    color: var(--another-black); 
    font-weight: 400;
    list-style:none;
    position: relative;
}
.about-item:not(:last-of-type){
    padding-bottom: 22px;
}
.about-item1::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: var(--basic-pink);
    left: 0px;
    top: 10px;
}
.about-item2::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: var(--basic-pink);
    left: 0px;
    top: 56px;
}
.about-item3::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: var(--basic-pink);
    left: 0px;
    top: 102px;
}

/*Стиль секции со статистикой*/

.stat-logo {
    outline: 5px solid rgba(133, 6, 6,);
    outline-offset: -5px;
    min-width: 374px;
}
.stat-table caption {
    font-weight: 700;
    text-transform: uppercase;
}
.stat-data {
    font-size: 45px;
    line-height: 64px;
    font-weight: 700;
}
.stat-data sup {
  font-size: 26px;
  line-height: 40px;  
}
.stat-info {
    line-height: 18px;
    color: var(--another-black);
    font-weight: 400;
}

/*Стиль секции с лого партнеров*/

.partners {
    outline: 5px solid rgba(168, 94, 94, );
    outline-offset: -5px;
    margin-top: 46px;
    margin-left: 142px;
    margin-right: 142px;
    padding-bottom: 44px;
    border-bottom: solid 2px var(--basic-grey);
}
.partner-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 41px;
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    min-width: 1085px;
}
.partner-item {
    outline: 5px solid rgb(19, 250, 69,);
    outline-offset: -5px;
    opacity: 0.2;
}
.partner-item:hover{
    opacity: 1;
}
.partner-item:active {
    opacity: 0.1;
}
.partner-item2::before {
    content: "";
    width: 2px;
    height: 52px;
    background-color: var(--basic-black);
    position: absolute;
    top: 10px;
    left: 286px;
}
.partner-item3::before {
    content: "";
    width: 2px;
    height: 52px;
    background-color: var(--basic-black);
    position: absolute;
    top: 10px;
    left: 598px;
}
.partner-item4::before {
    content: "";
    width: 2px;
    height: 52px;
    background-color: var(--basic-black);
    position: absolute;
    top: 10px;
    left: 878px;
}
/*Стиль секции с контактами*/

.contacts {
    outline: 5px solid rgb(201, 198, 33 0);
    outline-offset: -5px;
    position: relative;
    margin-top: 80px;
}
.contact-block {
    outline: 5px solid rgb(37, 26, 201 0);
    outline-offset: -5px;
    padding: 49px 39px 47px 50px;
    text-align: center;
    max-width: 319px;
    position: absolute;
    background-color: white;
    top: 54px;
    left: 140px;
}
.contact-map {
    outline: 5px solid rgb(255, 0, 157 0);
    outline-offset: -5px;
    max-width: 1440px;
    justify-self: center;
}
.map-marker {
    position: absolute;
    top: 80px;
    left: 823px;
}
.contacts h2 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;  
}
.contacts p {
    color: var(--one-more-grey);
    line-height: 18px;
    font-weight: 400;
}
.contacts a {
    color: var(--one-more-grey);
    text-decoration: none;
}


/*Стиль подвала*/
/*Стиль  блока со скидкой*/

.footer-info h2 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}
.footer-info p {
    line-height: 22px;
    font-weight: 400;
    color: var(--light-black);
}
.main-footer {
    outline: 5px solid rgba(255, 0, 0, 0);
    outline-offset: -5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 66px;
    padding-bottom: 68px;
    min-width: 941px;
    
}
.footer-info {
    outline: 5px solid rgba(162, 241, 15, );
    outline-offset: -5px;
    margin-left: 139px;
    margin-right: auto;  
}
.footer-social {
    outline: 5px solid rgba(57, 22, 211,);
    outline-offset: -5px;
    margin-left: 100px;

}
.social-button-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

/* ------------СТИЛИ КНОПОК----------*/
/*общий стиль кнопок*/

.button {
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
    color: var(--basic-white);
    padding: 10px;
    padding-top: 17px;
    padding-bottom: 15px;
    text-align: center;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
    
}
.button:active {
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/*стиль кнопок слайдера*/

.button-slider {
    min-width: 240px;
    background-color: var(--basic-pink);
    margin-top: 50px;
}
.button-slider:hover {
    background-color: var(--light-pink);
}
.button-slider:active{
    background-color: var(--dark-pink);
    color: var(--half-white);
}   


/*стиль розовой кнопки "заказать"*/

.button-offer-pink {
    width: 160px;
    background-color: var(--basic-pink);
}
.button-offer-pink:hover {
    background-color: var(--light-pink);
}
.button-offer-pink:active {
    background-color: var(--dark-pink);
    color: var(--half-white);
}

/*стиль зелёной кнопки "заказать"*/

.button-offer-green{
    width: 160px;
    background-color: var(--basic-green);
}
.button-offer-green:hover {
    background-color: var(--light-green);
}
.button-offer-green:active {
    background-color: var(--dark-green);
    color: var(--half-white);
}

/*стиль жёлтой кнопки "заказать"*/

.button-offer-yellow{
    width: 160px;
    background-color: var(--basic-yellow);
}
.button-offer-yellow:hover {
    background-color: var(--light-yellow);
}
.button-offer-yellow:active {
    background-color: var(--dark-yellow);
    color: var(--half-white);
}

/*стиль розовой кнопки "Напишите нам"*/

.button-text-us {
    width: 219px;
    background-color: var(--basic-pink);
}
.button-text-us:hover {
    background-color: var(--light-pink);
    }
.button-text-us:active {
    background-color: var(--dark-pink);
    color: var(--half-white);
}

/*стиль ссылок на соц.сети*/

.social-button-item {
    background-color: var(--light-grey);
    width: 81px;
    height: 81px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 9px;
}
.social-button-item:hover {
    background-color: var(--light-pink);
}
.social-button-item:active {
    background-color: var(--dark-pink);
}

/*стиль серой кнопки для фильтра*/

.filter-button {
    width: 260px;
    background-color: var(--basic-grey);
    color: var(--basic-black);
}
.filter-button:hover {
    background-color: var(--dark-grey);
}
.filter-button:active {
    background-color: #D5D5D5;
    color: var(--half-black);
}

/*стиль для кнопки с ценой*/

.button-cost {
    width: 200px;
    background-color: var(--basic-pink);
}
.button-cost:hover {
    background-color: var(--light-pink);
}
.button-cost:active {
    background-color: var(--dark-pink);
}

/*стиль кнопок переключения страниц шаблонов*/

.button-int {
    width: 50px;
    background-color: var(--basic-grey);
    color: var(--basic-black);
}
.button-int:hover {
    background-color: var(--dark-grey);
}
.button-int:active {
    background-color: var(--darkest-grey);
    color: var(--half-black);
}
.button-next {
    width: 260px;
    background-color: var(--basic-grey);
    color: var(--basic-black);
}
.button-next:hover {
    background-color: var(--dark-grey);
}
.button-next:active {
    background-color: var(--darkest-grey);
    color: var(--half-black);
}


/* ---------СТИЛЬ СТРАНИЦЫ КАТАЛОГА------------*/

/*Стиль заголовка страницы*/ 

.title-shop {
    background-color: var(--basic-grey);
    display: flex;
    width: auto;
    justify-content: center;
}
.container h1 {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

/*Стиили фильтра и сортировки*/ 

.filter-sort-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;

}
.filter-features ul, .filter-grid ul{
    list-style: none;
}
.filter-text {
    line-height: 19px;
    font-weight: 400;
    color: var(--another-black);
}
.cost-text {
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color:var(--another-black);
}
.sorting a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: var(--half-black);
    text-transform: uppercase;
}
.sorting a:hover {
    color: var(--opac-black);
}
.sorting a:active {
    color: var(--basic-black);
}

/* Стили для списка шаблонов*/

.templates-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.template-switch {
    list-style: none;
    display: flex;
}
.template-switch li {
    padding: 10px;
}
.template-name-text {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}
.template-about-text {
    line-height: 18px;
    color: var(--one-more-grey);
    font-weight: 400;
}
.template-decoration {
    background-color: var(--basic-grey);
    text-align: center;
}
.grid-container {
    display: flex;
    justify-content: space-around;

    /*display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content min-content;*/
}
.flex-container {
    display: flex;
    flex-direction: column;
}
.main-filter {
    width: 25%;
    /*grid-column: 1 / 2 ;
    grid-row: 1 / 3  ;*/
}

/* изменения для проверки */


/*Модальное Окно*/

.container-modal {
    margin: auto;
    position: relative;
    max-width: 960px;
    max-height: 590px;
    background-color: #FFFFFF;
    width: 100%;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}
.modal-form {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-between;    
}
.modal-item {
    width: 360px;
    margin-bottom: 0px;
    margin-top: 34px;
}
.modal-text-us {
    font-size: 45px;
    line-height: 53px;
    font-weight: 700;
    margin-top: 63px;
    margin-left: 100px;
    margin-bottom: 3px;
}
.modal-parameters {
    line-height: 18px;
    font-weight: 700;
}
.modal-input {
    background: #FFFFFF;
    border: 2px solid #D7DCDE;
    box-sizing: border-box;
    border-radius: 3px;
    line-height: 18px;
    color: var(--light-black);
    opacity: 0.5;
    width: 360px;
    height: 50px;
    margin-top: 9px;
    padding-left: 16px;
}
.modal-text-area {
    width: 760px;
    height: 118px;
    margin-bottom: 47px;
    padding-top: 16px;
}
.modal-close {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 0px;
    height: 0px;
}
.modal-close::before {
    content: "";
    background-image: url(/img/close.svg);
    width: 21px;
    height: 21px;
    position: absolute;
    
}
.modal-close:hover {

}

.modal-button {
    width: 259px;
    background-color: var(--basic-pink);
    margin-left: 100px;
    margin-bottom: 84px;
}
.modal-button:hover {
    background-color: var(--light-pink);
    }
.modal-button:active {
    background-color: var(--dark-pink);
    color: var(--half-white);
}